@charset "UTF-8";

/* Fonts */

@font-face {
  font-family: "Clear Sans";
  font-display: swap;
  src: url("../fonts/clearsans.woff") format("woff"), url("../fonts/clearsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  font-display: swap;
  src: url("../fonts/clearsansbold.woff") format("woff"), url("../fonts/clearsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[hidden] {
  -webkit-transform: scale(0) !important;
      -ms-transform: scale(0) !important;
          transform: scale(0) !important;
}

body {
  font-family: 'Clear Sans';
  color: #3A4047;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.__container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  margin: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row1 {
  max-height: 106px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.header__row1-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 14.5px 0;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 258px;
          flex: 0 0 258px;
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.header__info {
  max-width: 375px;
  line-height: 1.3;
}

.header-info__text h3 {
  text-align: center;
  font-size: 16px;
}

.header-info__shedule p {
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}

.header__personal {
  margin: 10px 0 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #3A4047;
  max-height: 25px;
}

.header-personal__icon {
  margin: 0 5px 0 0px;
}

.header-personal__text {
  text-decoration: underline;
  color: #3A4047;
}

.header__contacts {
  margin: 10px 0 0 0;
}

.hdr-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hdr-contacts__mail {
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: underline;
  color: #3A4047;
}

.hdr-contacts__links {
  min-width: 213px;
  margin-bottom: 10px;
}

.hdr-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hdr-links__facebook {
  margin: 0 7px 0 0px;
}

.hdr-links__icon-phone {
  margin: 0 5px 0 7px;
}

.hdr-links__main-phone {
  margin: 0 6px 0 5px;
  color: #3A4047;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
}

.hdr-links__phones {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  min-height: 20px;
  background-color: #EDEDED;
  border-radius: 50%;
  position: relative;
}

.hdr-links__phones:hover .morephones__arrow1,
.hdr-links__phones:hover .morephones__arrow2 {
  background-color: #1AB0CE;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.morephones__arrow1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  position: absolute;
  width: 7px;
  height: 1px;
  top: 10px;
  left: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.morephones__arrow2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  position: absolute;
  width: 7px;
  height: 1px;
  top: 10px;
  right: 4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.morephones__arrow1.phones--active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.morephones__arrow2.phones--active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phones__morephones {
  position: absolute;
  top: 47px;
  left: -189px;
  z-index: 9;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.phones__morephones.phones--active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.morephones {
  width: 219px;
  height: 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 30px 28px 30px 29px;
  position: relative;
}

.morephones:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: -10px;
  right: 6px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.morephones__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  max-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-morephones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-morephones__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26px;
          flex: 0 1 26px;
  margin-right: 10px;
}

.items-morephones__icon img {
  display: block;
  max-width: 100%;
}

.items-morephones__link {
  font-size: 16px;
  color: #3A4047;
}

.header__shopping {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin: 0 17px 0 5px;
}

.shopping__cart {
  max-width: 48px;
  max-height: 48px;
}

.shopping__cart-counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1AB0CE;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: -10px;
  right: -16px;
}

.header__row2 {
  margin: 0;
  border-top: 1px solid transparent;
  max-height: 57px;
}

.header__row2.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  position: relative;
  z-index: 3;
}

.header__navbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar__burger {
  display: none;
}

.navbar__burger span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 9px;
  height: 2px;
  background-color: #1AB0CE;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.navbar__burger:before,
.navbar__burger:after {
  content: '';
  position: absolute;
  background-color: #1AB0CE;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.navbar__burger:before {
  top: 0;
}

.navbar__burger:after {
  bottom: 0;
}

.navbar__burger.menu-active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.navbar__burger.menu-active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.navbar__burger.menu-active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.navbar__list span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 13px;
  background-color: #E8EDF2;
  margin: 0;
  padding: 0;
}

.navbar__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.navbar__list li:first-child a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 25px 5px 0px;
}

.navbar__list li:last-child a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 0px 5px 25px;
}

.navbar__list li:hover .navbar__link {
  border-top: 1px solid #1AB0CE;
  color: #1AB0CE;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar__list.menu-active {
  left: -15px;
  opacity: 1;
}

.navbar__link {
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 57px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3A4047;
  border-top: 1px solid transparent;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar__link-searсh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.link-search__close {
  position: absolute;
  top: 5px;
  left: 24px;
  width: 20px;
  height: 20px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.link-search__close img {
  display: block;
  max-width: 20px;
}

.navbar__link-search-icon {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.navbar__link-search-icon.search--active {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.link-search__close.search--active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.navbar__search {
  display: none;
}

.navbar__search img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.navbar-search--hide {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-search__close {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  height: 25px;
  max-height: 25px;
  top: 0;
  left: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-search__close img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.navbar-search--hide.search--active {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.navbar-search__close.search--active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.navbar-search__block {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: -15px;
  height: 62px;
  width: calc(100% + 30px);
  background-color: rgba(255, 255, 255, 0.934);
  padding: 8px 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar-search__block.search--active {
  top: 51px;
  visibility: visible;
  opacity: 1;
}

.navbar-search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar-search__button {
  height: 100%;
  width: 65px;
  position: relative;
  z-index: 3;
  background: transparent;
}

.navbar-search__button img {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 20px;
  z-index: 2;
}

.navbar-search__input {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-search__input input {
  width: 98%;
  font-size: 16px;
  height: 90%;
  padding: 4px 11px 4px 11px;
  border-radius: 3px;
}

.navbar__personal {
  display: none;
}

.navbar-personal__icon {
  width: 25px;
  margin: 0 8px 0 0;
}

.navbar-personal__text {
  margin: 0 10px 0 0px;
  font-size: 16px;
  color: #3A4047;
}

.navbar__shopping {
  display: none;
}

.print {
  width: 100%;
  height: 500px;
  background: url(../img/main-img.jpg) center/cover no-repeat;
}

.print__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 0 0;
}

.print__body span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2px;
          flex: 0 0 2px;
  width: 120px;
  background-color: #ffffff;
  margin: 15px 0 0 0;
}

.print__title h2 {
  font-size: 57px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.18em;
  text-align: center;
}

.print__delivery {
  margin: 20px 0 0 0;
}

.print__delivery h2 {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.17em;
}

.print__button {
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 48px;
  border-radius: 3px;
  background-color: #1AB0CE;
  font-size: 16px;
  line-height: 1.18em;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.print__button:hover {
  color: #1AB0CE;
  background-color: #fff;
  border: 2px solid #1AB0CE;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.about {
  margin-top: 45px;
  border-bottom: 1px solid #E8EDF2;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-size: 36px;
}

.about__sub-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
}

.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 34px 0 40px 0;
}

.about__text p {
  line-height: 1.5;
  text-align: justify;
}

.production {
  margin-top: 43px;
}

.production__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production__title {
  font-size: 36px;
  -ms-flex-item-align: center;
      align-self: center;
}

.production__row {
  margin-top: 44px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.production__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  height: 291px;
  max-height: 291px;
  border: 1px solid #DCE1E6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.production__column--center {
  margin: 0 30px;
}

.pr-column {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-column__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.pr-column__img img {
  max-width: 100%;
  display: block;
}

.pr-column__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0px 0 20px;
}

.pr-col-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pr-col-text__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.pr-col-text__text p {
  margin: 0 0 20px 0;
}

.col-2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-2-text__column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-2-text__column2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.news {
  margin: 46px 0 0 0;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__tilte {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}

.news__tilte h3 {
  font-size: 36px;
}

.news__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.news__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  max-width: 370px;
  height: 170px;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.news__column:after {
  content: '';
  position: absolute;
  top: -3.784%;
  left: -3.784%;
  width: 107.56756%;
  height: 107.56756%;
  z-index: -1;
}

.news__column--center {
  margin: 0 30px;
}

.news-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.news-column__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  margin-top: 29px;
  color: #BEC7D1;
  line-height: 16px;
}

.news-column__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 78px;
          flex: 1 1 78px;
  width: 96%;
  font-size: 16px;
  line-height: 1.5;
  margin: 14px auto 30px auto;
  text-align: center;
  color: #3A4047;
  overflow: hidden;
}

.news__column:hover:after {
  background: #FFFFFF;
  border: 1px solid #DCE1E6;
  -webkit-box-shadow: 0px -1px 0px #1AB0CE, 0px 14px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 0px #1AB0CE, 0px 14px 24px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.news__column:hover .news-column__text {
  color: #1AB0CE;
  text-decoration: underline;
  overflow: auto;
}

.news__add {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__add-button {
  margin-top: 51px;
  height: 32px;
  width: 190px;
  border: 1px solid #1AB0CE;
  color: #1AB0CE;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news__add-button:hover {
  background-color: #1AB0CE;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer {
  margin: 49px 0 0 0;
  position: relative;
  padding: 0 0 30px 0;
  max-height: 159px;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/footer-bgr-img.png");
  opacity: 0.03;
  z-index: -1;
}

.footer__body {
  height: 159px;
  max-height: 159px;
  padding: 20px 0 30px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 258px;
          flex: 0 1 258px;
}

.ftr-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5px 0 0;
}

.ftr-logo__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 77px;
          flex: 0 1 77px;
  max-width: 258px;
  width: 258px;
}

.ftr-logo__logo img {
  display: block;
  width: 100%;
}

.ftr-logo__copyright {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 261px;
          flex: 0 1 261px;
  margin: 10px 55px 0 0;
}

.ftr-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ftr-info__text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.5;
}

.footer__links {
  margin: 10px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 273px;
          flex: 0 1 273px;
}

.f-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-links__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.f-links__column--second {
  margin-left: 60px;
}

.f-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.f-links__link {
  font-family: "Roboto";
  color: #3A4047;
  text-decoration: underline;
  line-height: 1.5;
}

.footer__last-column {
  margin: 10px 0 0 0;
  min-width: 230px;
}

.ftr-last-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ftr-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftr-contacts__phone-icon {
  margin: 0 0 0 25px;
}

.ftr-contacts__main-tel {
  font-size: 16px;
  font-weight: bold;
  color: #3A4047;
  margin: 0 0 0 10px;
  white-space: nowrap;
}

.ftr-contacts__phones {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 0 0 7px;
  position: relative;
}

.ftr-last-column__link {
  font-family: "Roboto";
  color: #3A4047;
  text-decoration: underline;
  line-height: 21px;
}

.ftr-contacts__phones:hover .ftr-contacts-phones__arrow1,
.ftr-contacts__phones:hover .ftr-contacts-phones__arrow2 {
  background-color: #1AB0CE;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ftr-contacts-phones__arrow1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #3A4047;
  position: absolute;
  width: 7px;
  height: 1px;
  top: 10px;
  left: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ftr-contacts-phones__arrow2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #3A4047;
  position: absolute;
  width: 7px;
  height: 1px;
  top: 10px;
  right: 4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ftr-contacts-phones__arrow1.phones--active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ftr-contacts-phones__arrow2.phones--active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ftr-morephones {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -187px;
  left: -189px;
  z-index: 3;
}

.ftr-morephones.phones--active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.ftr-morephones__body {
  width: 219px;
  height: 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 30px 28px 30px 29px;
  position: relative;
}

.ftr-morephones__body:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: 147px;
  right: 6px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ftr-morephones__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  max-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftr-item-morephones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftr-items-morephones__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26px;
          flex: 0 1 26px;
  margin-right: 10px;
}

.ftr-items-morephones__icon img {
  display: block;
  max-width: 100%;
}

.ftr-items-morephones__link {
  font-size: 16px;
  line-height: 1.17;
  color: #3A4047;
}

.footer__links-hide {
  display: none;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
}

.f-hide-links__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-hide-links__link {
  font-family: "Roboto";
  color: #3A4047;
  text-decoration: underline;
  line-height: 1.5;
  margin: 0 3px;
}

.footer__hide-copyright {
  display: none;
  margin: 15px 0 10px 0;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.call-me {
  position: fixed;
  bottom: 100px;
  right: 8px;
  width: 108px;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1AB0CE;
  border-radius: 50%;
  z-index: 5;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.call-me__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.call-me__icon img {
  display: block;
  max-width: 100%;
}

.call-me__text {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.call-me--show {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 1199px) {
  .__container {
    max-width: 100%;
    padding: 0 15px;
  }

  .header__row1 {
    max-height: 112px;
  }

  .header__info {
    max-width: 280px;
  }

  .navbar__link {
    padding: 5px 14px;
    font-size: 17.5px;
  }

  .print__title h2 {
    margin: 0 10px;
    font-size: 47px;
  }

  .print__title h2 {
    font-size: 42px;
  }

  .production__column--center {
    margin: 0 10px;
  }

  .pr-column {
    padding: 25px 15px;
  }

  .pr-col-text__title {
    font-size: 16px;
  }

  .news__column--center {
    margin: 0 20px;
  }

  .news-column__text {
    overflow: auto;
  }

  .footer__info {
    margin: 10px 25px 0 0;
  }

  .f-links__column--second {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .header__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .header__info {
    max-width: 360px;
    margin: 0 5px 0 -20px;
  }

  .header__personal {
    display: none;
  }

  .header__shopping {
    display: none;
  }

  .shopping__cart {
    max-width: 37px;
    max-height: 37px;
  }

  .shopping__cart-counter {
    max-width: 22px;
    max-height: 22px;
    font-size: 12px;
    font-weight: normal;
    top: -5px;
    right: -12px;
  }

  .header__row2 {
    max-height: 52px;
  }

  .header__navbar {
    max-height: 52px;
  }

  .navbar__burger {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .navbar__list span {
    display: none;
  }

  .navbar__list li {
    margin: 0 0 20px 0;
  }

  .navbar__list li:first-child a {
    padding: 0;
  }

  .navbar__list li:last-child a {
    padding: 0;
  }

  .navbar__list li:hover .navbar__link {
    border-top: 1px solid transparent;
  }

  .navbar__list {
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 50px;
    left: -120%;
    background-color: rgba(255, 255, 255, 0.97);
    width: calc(100% + 30px);
    overflow: auto;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    height: auto;
    padding: 20px 0 0 0;
  }

  .navbar__link {
    padding: 5px;
    min-height: 30px;
  }

  .navbar__link-searсh {
    display: none;
  }

  .navbar__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    height: 25px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 5px 0 5px;
    cursor: pointer;
    z-index: 7;
    position: relative;
  }

  .navbar__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0px 0 auto;
    cursor: pointer;
  }

  .navbar__shopping {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    margin: 0 10px 0 10px;
  }

  .production__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .production__column {
    width: 370px;
  }

  .production__column--center {
    margin: 25px 0;
  }

  .pr-column {
    padding: 25px;
  }

  .pr-col-text__title {
    font-size: 19px;
  }

  .pr-col-text__text p {
    font-size: 16px;
  }

  .news__column {
    height: 190px;
  }

  .news__column--center {
    margin: 0 10px;
  }

  .footer__row {
    max-height: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .ftr-logo__copyright {
    display: none;
  }

  .footer__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 5px 5px 0 0;
    text-align: center;
  }

  .ftr-info__schedule {
    margin: 10px 0 0 0;
  }

  .footer__links {
    display: none;
  }

  .footer__last-column {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .ftr-last-column__link {
    display: none;
  }

  .ftr-last-column__glyanec {
    display: none;
  }

  .footer__links-hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px 0 15px 0;
  }

  .ftr-hide-cprght {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .call-me {
    right: 6px;
    opacity: 0.7;
  }
}

@media (max-width: 860px) {
  .header__info {
    margin: 0 5px 0 -5px;
  }
}

@media (max-width: 767px) {
  .header__row1 {
    max-height: 94px;
  }

  .header__info {
    display: none;
  }

  .print {
    height: 420px;
  }

  .about__text p {
    font-size: 17px;
  }

  .about__text {
    margin: 25px  0 30px 0;
  }

  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news__column {
    max-height: 170px;
  }

  .news__column--center {
    margin: 20px 0;
  }

  .news__add-button {
    margin-top: 40px;
  }

  .footer__info {
    display: none;
  }

  .footer__links-hide {
    margin: 10px 0 15px 0;
  }

  .call-me {
    width: 90px;
    height: 90px;
  }

  .call-me__icon {
    width: 22px;
    height: 22px;
  }

  .call-me__text {
    font-weight: normal;
    font-size: 13px;
  }
}

@media (max-width: 672px) {
  .f-hide-links__list li {
    margin: 10px 15px 0 15px;
  }
}

@media (max-width: 575px) {
  .header__row1 {
    max-height: 136px;
  }

  .header__row1-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hdr-contacts__mail {
    display: none;
  }

  .hdr-links__facebook {
    margin: 0 17px 0 0px;
  }

  .print__title h2 {
    font-size: 35px;
  }

  .about__text p {
    font-size: 16px;
  }

  .f-hide-links__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 525px) {
  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__last-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 30px;
  }
}

@media (max-width: 399px) {
  .navbar-personal__text {
    display: none;
  }

  .print {
    height: 380px;
  }

  .print__title h2 {
    font-size: 29px;
  }

  .print__delivery h2 {
    font-size: 18px;
  }

  .print__button {
    width: 160px;
    height: 40px;
  }

  .about {
    margin-top: 35px;
  }

  .about__title {
    font-size: 30px;
  }

  .about__sub-title {
    margin-top: 20px;
    font-size: 20px;
  }

  .about__text {
    margin: 20px 0 30px 0;
  }

  .production {
    margin-top: 35px;
  }

  .production__title {
    font-size: 30px;
  }

  .production__row {
    margin-top: 30px;
  }

  .production__column {
    max-height: 276px;
    width: 290px;
    max-width: 290px;
  }

  .pr-column {
    padding: 20px 10px;
  }

  .pr-column__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50px;
            flex: 0 1 50px;
  }

  .pr-column__text {
    margin: 0 0px 0 10px;
  }

  .pr-col-text__title {
    font-size: 16px;
  }

  .pr-col-text__text p {
    font-size: 15px;
  }

  .news {
    margin-top: 35px;
  }

  .news__tilte h3 {
    font-size: 30px;
  }

  .news__row {
    margin-top: 30px;
  }

  .ftr-hide-cprght__copyright {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ftr-hide-cprght__glyanec {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 319px) {
  .print__title h2 {
    font-size: 25px;
  }

  .print__delivery h2 {
    font-size: 16px;
  }

  .production__column {
    width: 2590px;
    max-width: 250px;
  }

  .pr-column__img img {
    max-height: 100%;
    height: 100%;
  }

  .pr-column__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    height: 45px;
  }

  .pr-col-text__title {
    font-size: 15px;
  }

  .pr-col-text__text p {
    font-size: 14px;
  }

  .news__column {
    max-height: 190px;
  }
}

.webp .print{ background: url(../img/main-img.webp) center/cover no-repeat; }

.webp .footer:before{ background-image: url(../img/footer-bgr-img.webp); }